.chat-container {
  background-color: lightgrey;
  height: 500px;
  overflow-y: auto;
  padding: map_get($spacers, 1);
}

.chat-message {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "avatar username timestamp" "avatar message message" ". message message";

  margin-bottom: map_get($spacers, 1);

  .avatar {
    grid-area: avatar;
    align-self: center;

    max-width: 30px;

    margin: 0 map_get($spacers, 2);

    border-radius: 50%;

  }

  .username {
    grid-area: username;
  }

  .timestamp {
    grid-area: timestamp;

    margin-right: map_get($spacers, 1);

    font-style: italic;
  }

  .message {
    grid-area: message;

    overflow-wrap: break-word;

    &.chat-mentioned {
      background-color: lighten($primary, 10);
    }

    * {
      display: inline;
    }
  }
}

.chat-grid {
  display: grid;
  grid-template-columns: 5fr auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "messages messages users" "input emoji button";
  grid-gap: map_get($spacers, 2);

  .messages {
    grid-area: messages;
  }

  .users {
    grid-area: users;
  }

  .input {
    grid-area: input;
  }

  .emoji {
    grid-area: emoji;
  }

  .button {
    grid-area: button;
    background: none;
    border: none;
  }

}

//Chat usernames
.chat-username {
  font-weight: $font-weight-bold;
  margin-left: 0.50rem;
  cursor: pointer;
}

.chat-name-member {
  color: $black;
}

.chat-name-vip {
  color: $vip-color
}

.chat-name-diamond {
  color: $diamond-color;
}

.chat-name-birthday {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-name-partner {
  color: $purple;
}

.chat-name-moderator {
  color: $green;
}

.chat-name-admin {
  color: $red;
}

//Sparkle backgrounds
.chat-sparkle {
  .chat-name-member & {
    background-image: url('/img/sparkle/member.gif');
  }

  .chat-name-vip & {
    background-image: url('/img/sparkle/vip.gif');
  }

  .chat-name-diamond & {
    background-image: url('/img/sparkle/diamond.gif');
  }

  .chat-name-partner & {
    background-image: url('/img/sparkle/partner.gif');
  }

  .chat-name-moderator & {
    background-image: url('/img/sparkle/moderator.gif');
  }

  .chat-name-admin & {
    background-image: url('/img/sparkle/admin.gif');
  }
}

.chat-container {

  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  margin-top: 0.5rem;
}

.whoishelp {
  position: absolute;
  margin-right: 0.25rem;
  right: 0;
}

.popover {
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
}

.popover-header {
  border-bottom: 1px solid #f6c23c;
  background-color: rgba(0, 0, 0, .8);
  background: rgba(0, 0, 0, .8);
}

.chat-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.chat-self-mention {
  background-color: #ff0000;
  font-size: 14px !important;
  padding: 2px 8px !important;
  border-radius: 2em;
}

.chat-mention {
  background-color: #3d2665;
  font-size: 14px !important;
  padding: 2px 8px !important;
  border-radius: 2em;
}
