//Bootstrap
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "shop";

/*!
Twitch Runner
*/
.loggedImage {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  float: left;

}

.loggedPseudo {
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  Text-Decoration: None !important;
}

.rounded {
  border-radius: 50%;
  border: 1px;
  border-color: white;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, #f0f0f0, #8c6dc5, #f0f0f0);
}

.footer {
  height: 50px;
  width: 100%;
  text-align: center;
  vertical-align: center;

}

.content {
  min-height: calc(100vh - 70px);
}


/* BANNER WALL*/
.photo-wall {
  padding: 50px 0 50px 0;
  margin-top: 20px;
  margin-bottom: -20px;
  background: #000 url(/img/photo-wall.jpg) top left;
  color: #fff;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -20px;
}

.photo-wall .gradient {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  background: url(/img/black-gradient.png) repeat-x bottom left;
}

.photo-wall h1 {
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.reasons p,
.photo-wall p {
  text-align: center;
  word-wrap: normal;
  word-break: normal;
}

.photo-wall .or {
  line-height: 35px;
}

.reasons {
  background: #fff;
  text-align: center;
  position: relative;
  margin-top: -20px;
  padding: 30px 0 30px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.reasons h3 {
  font-size: 18px;
  font-weight: bold;
}

.reasons p {
  font-size: 12px;
}

.btn.outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  line-height: 31px;
  opacity: 1;
  box-shadow: 0 0 0;
}

.btn.outline:hover, .btn.outline:active {
  background: rgba(255, 255, 255, 0.2);
}

.btn, .btn:hover {
  font-family: "Open sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 0 20px 0 20px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
}

.btn.disable, .btn.disable:hover, .btn.disable:active {
  cursor: default;
  cursor: no-drop;
  background: transparent;
  border: 2px solid #ededed;
  color: #ededed;
  line-height: 31px;
  opacity: 1;
  box-shadow: 0 0 0;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

/* END BANNER WALL */
