//Bootstrap
@import "variables";
@import "bootstrap/scss/bootstrap";

@import "shop";

/*!
Twitch Runner
*/
.loggedImage {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  float: left;

}

.loggedPseudo {
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  Text-Decoration: None !important;
}

.rounded {
  border-radius: 50%;
  border: 1px;
  border-color: white;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, #f0f0f0, #8c6dc5, #f0f0f0);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.03);
    text-align: center;
    vertical-align: center;
    border-top: 1px solid rgba(0,0,0,.125);
    background-clip: border-box;
}